@use '../utilities/' as *;

.footer{
    @include flex(space-between, center, row);
    background: $darkBlue;
    padding: 3rem 1rem;
}

@media screen  and (min-width: 530px){
    .footer{
        padding: 3rem 2.75rem;
    }
}

@media screen and (min-width: 1030px){
    .footer{
        padding: 2.5rem 9rem;
    }
}