@use '../utilities' as *;

.nav{
    @include flex(space-between, center, row);
    margin-bottom: 2.5rem;
    margin: 1rem;
}

.header{
    margin: 1rem;
    gap: 2rem;

    &_title{
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }

    &_text{
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 530px){
    .nav{
        margin: 1.5rem 2.75rem;
    }

    .header{
        margin: 5.5rem 2.75rem;
        flex-direction: row;
        width: 52.5%;
    }

    .picture{
        z-index: -10;
    }
}