@use '../utilities/' as *;

.course_section{
    margin: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-rows: repeat(6, min-content);
    gap: 2.5rem;

    .intro_card{
        background: linear-gradient($peach, $hotPink);
        padding: 1.5rem;
        border-radius: 1rem;
        height: min-content;
    }

    .course_card{
        @include flex(center, flex-start, column);
        gap: 1rem;
        background: $white;
        border-radius: 1rem;
        position: relative;
        padding: 3rem 1.75rem 2rem 1.75rem;

        a{
            font-weight: 700;
            text-decoration: none;
            color: $pink;
            transition: all 0.2s;

            &:hover{
                color: $mildPink;
            }
        }
    }

    .course-icon{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 18.5%;
    }
}

@media screen and (min-width: 530px){
    .course_section{
        margin: 0 2.75rem 5rem 2.75rem;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0.75rem;
        row-gap: 4rem;

        .intro_card{
            height: 100%;
            padding: 3.5rem 2.5rem;
        }
    }
}

@media screen and (min-width: 1030px){
    .course_section{
        margin: 0 9rem 9rem 9rem;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.75rem;
        row-gap: 5rem;

        .course_card{
            gap: 2.25rem;
        }
    }
}